@import "variables";

@mixin hover-effect($bgColor, $hoverColor, $lineColor) {

  border: none;
  overflow: hidden;
  position: relative;
  background-color: $bgColor;
  span {
    z-index: 20;
  }

  &:after {
    background-color: rgba($lineColor, .9);
    content: "";
    height: 155px;
    left: -175px;
    position: absolute;
    top: -75px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100px;
    z-index: 19;
  }

  &:hover {
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    transition-property: background-color;
    transition-delay: 750ms;
    transition: .5s ease;
    background-color: $hoverColor;
  }
}
