// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
//@import "node_modules/bootstrap/scss/reboot";
//@import "node_modules/bootstrap/scss/type";
//@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/code";
//@import "node_modules/bootstrap/scss/grid";


$primary-color: #2F3338; // #417690; //#352208; //#008CBE;
$secondary-color: #79aec8; //#E1BB80; //#25A3D1;
$accent-color: #3b8070; //#C97210;
$white-color: #E3E6E8;
$primary-text-color: #F7F7FF;
$secondary-text-color: #2F3338;
$accent-text-color: #C97210;
$border-color: rgba(186, 189, 198, 0.8);

$breakpoint-desktop: map_get($grid-breakpoints, 'lg');
$breakpoint-tablet: map_get($grid-breakpoints, 'md');
$breakpoint-phone: map_get($grid-breakpoints, 'sm');
