@import "variables";

@font-face {
  font-family: 'Neutra';
  src: url('../static/fonts/Neutra2Text_bold_italic.ttf') format('truetype');
}

a {
  text-decoration: none !important;
  font-style: normal;
  color: $primary-text-color;
}

ul {
  padding: 0;
  list-style: none;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  width: 1080px;
  height: 100%;
  /*background: #3b8070;*/
  display: flex;
}
