<template>
  <div class="price-container">
    <div class="price">
      {{ discount }} AZN
    </div>
  </div>
</template>

<script>
export default {
  name: 'PriceWithDiscount',
  props: {
    discountPercent: {
      type: Number,
      default: 0
    },
    discount: {
      type: Number,
      default: 0
    },
    price: {
      type: Number,
      default: 0
    },
    isSpecialOffer: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
  @import "css/variables";

  .price-container {
    font-family: 'Neutra', cursive;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    &::after {
      width: 100%;
      height: 100%;
      background-color: $accent-color;
    }
  }
</style>
