<template>
  <div :class="isSpecialOffer?'discount-vip': 'discount'">
    <div :class="isSpecialOffer?'discount-circle':'discount-squire'">
      <span class="price-tag">% {{ discountPercent }}</span>
      <span class="discount-tag">ENDIRIM</span>
    </div>
    <div class="discount-price">
      <div class="old-price">
        {{ price }} AZN
      </div>
      <div class="new-price">
        {{ discount }} AZN
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PriceWithDiscount',
  props: {
    discountPercent: {
      type: Number,
      default: 0
    },
    discount: {
      type: Number,
      default: 0
    },
    price: {
      type: Number,
      default: 0
    },
    isSpecialOffer: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
  @import "css/variables";

  .discount {
    font-family: 'Neutra', cursive;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    &::after {
      width: 100%;
      height: 100%;
      background-color: $accent-color;
    }
    @extend %other;
  }

  .discount-vip {
    font-family: 'Neutra', cursive;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;

    @extend %other;
  }

  %other {
    .discount-circle {
      white-space: nowrap;
      border-radius: 50%;
      color: $dark;
      background-color: chartreuse;
      padding: .5rem;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .price-tag {
      }

      .discount-tag {
        font-size: 8px;
      }

      span {
        font-weight: 900;
      }
    }

    .discount-squire {
      white-space: nowrap;
      color: $light;
      background-color: $accent-color;
      padding: .5rem;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .price-tag {
      }

      .discount-tag {
        font-size: 8px;
      }

      span {
        font-weight: 900;
      }
    }

    .discount-price {
      text-align: right;
      padding-right: .5em;
      .old-price {
        text-decoration: line-through;
        font-size: .8em;
        color: gray
      }

      .new-price {
        font-size: 1.2em;
        font-weight: 800;
      }
    }
  }
</style>
