<template>
  <header class="d-flex header">
    <div
      class="w-100 d-flex flex-column justify-content-start align-items-center"
    >
      <div class="w-100 menu-top">
        <div class="container">
          <div class="main-menu">
            <div class="menu-left">
              <span
                @click="toggleMobileMenu"
                class="menu-icon d-flex justify-content-between align-items-center d-flex d-lg-none"
              >
                <font-awesome-icon :icon="['fas', 'bars']" size="lg" class="search-icon" />
              </span>
              <a href="/" class="logo">
                <span class="d-flex align-items-center">
                  <img
                    src="images/mebelli-logo-final.png"
                    alt="logo"
                    class="mr-2"
                  >
                  <!--<h5>mebelli</h5>-->
                </span>
              </a>
            </div>
            <div class="search pull-left d-lg-flex d-none">
              <input type="text" class="pull-left d-flex">
              <a href="#" class="pull-left d-flex">
                <span>Search</span>
              </a>
            </div>
            <div class="menu-right pull-right d-flex">
              <div class="d-flex justify-content-center align-items-center h-100">
                <ul class="d-flex justify-content-around widgets">
                  <li>
                    <a id="search" href="#">
                      <b-icon-search scale="2" class="mx-2" />
                      <b-popover target="search" triggers="click" placement="bottom" boundary-padding="0">
                        <div class="search-container">
                          <input id="search-input" type="text">
                        </div>
                      </b-popover>
                    </a>
                  </li>
                  <li>
                    <a id="settings" href="#">
                      <b-icon-gear scale="2" class="mx-2" />
                    </a>
                    <b-popover target="settings" triggers="hover" placement="bottom" boundary-padding="0">
                      <template>
                        <ul class="d-flex flex-column pop-menu">
                          <li class="d-flex justify-content-end pop-menu-item">
                            <a href="#">
                              profile
                            </a>
                          </li>
                          <li class="d-flex justify-content-end pop-menu-item">
                            <a href="#">
                              sign in
                            </a>
                          </li>
                          <li class="d-flex justify-content-end pop-menu-item">
                            <a href="#">
                              sign up
                            </a>
                          </li>
                        </ul>
                      </template>
                    </b-popover>
                  </li>
                  <li>
                    <a id="basket" href="#">
                      <b-icon-bucket scale="2" class="mx-2" />
                    </a>
                    <b-popover
                      target="basket"
                      triggers="hover"
                      placement=" bottomleft"
                      fallback-placement="flip"
                    >
                      <ul class="d-flex flex-column pop-menu">
                        <li class="d-flex justify-content-end pop-menu-item">
                          <a href="#" class="d-flex">
                            <img src="images/sofa.jpg" alt="product_img" class="product-image">
                            <span class="product-info">
                              <span class="product-title">Qonaq dəsti</span>
                              <span class="product-price">1498 AZN</span>
                            </span>
                            <span class="product-quantity">
                              <b-input type="number" number trim value="1" />
                            </span>
                            <span class="product-delete">
                              <b-icon-trash font-scale="1.5" class="m-2" />
                            </span>
                          </a>
                        </li>
                        <li class="d-flex justify-content-end pop-menu-item">
                          <b-btn block variant="primary" href="#" class="proceed-cart-btn m-4" squared>
                            Proceed to cart
                          </b-btn>
                        </li>
                      </ul>
                    </b-popover>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 menu-bottom d-none d-lg-flex">
        <div class="container">
          <ul class="nav app-nav">
            <li v-for="item in menus" :key="item.id" class="nav-item">
              <a href="item.url">{{ item.title }}</a>
              <div
                v-if="item.mainmenuSet&&item.mainmenuSet.length"
                class="menu-sub"
              >
                <ul class="sub-items">
                  <li v-for="child in item.mainmenuSet" class="sub-item">
                    <a :href="child.url">{{ child.title }}</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div :class="`mobile-menu ${mobileMenu&&'menu-open'}`">
        <div @click="toggleMobileMenu" class="overlay">
          <div @click="(event)=>{event.stopPropagation()}" class="menu-container">
            <ul class="d-flex flex-column justify-content-start align-items-center">
              <li v-for="item in menus" :key="item.id" :id="`menu-item-${item.id}`">
                {{ item.title }}
                <div class="submenu">
                  <ul>
                    <li />
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import gql from 'graphql-tag'
export default {
  name: 'AppHeader',
  apollo: {
    menus: gql`{
      menus {
        id
        title
        url
        parent {
          id
          title
          url
        }
        mainmenuSet {
          id
          title
          url
        }
      }
    }`
  },
  data () {
    return {
      mobileMenu: false
    }
  },
  methods: {
    toggleMobileMenu (e) {
      e.stopPropagation()
      e.preventDefault()
      this.mobileMenu = !this.mobileMenu
    }
  }
}
</script>

<style lang="scss">
  @import "css/variables";
  @import "css/mixins";

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-top {
      margin-top: 20px;

      .main-menu {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-left {
          cursor: pointer;
          display: flex;

          .menu-icon {
            margin-right: .5rem;

            &:hover {
              color: $accent-color;
            }
          }

          .logo {
            text-decoration: none;
            text-transform: uppercase;
            color: #30362F;

            img {
              width: auto;
              height: 60px;
            }

            &:focus ~ div {
              opacity: 1;
              visibility: visible;
            }

            &:focus + img.search-icon,
            &:hover + img.search-icon {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        .search {
          flex: 1;
          height: 100%;
          padding: .5rem 2rem;

          input {
            height: 100%;
            flex: 8;
            border: 1px solid $border-color;
            text-indent: 5px;

            &:focus {
              outline: none;
            }
          }

          a {
            flex: 2;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            color: $primary-text-color;
            width: 80px;
            height: 100%;
            @include hover-effect($primary-color, $accent-color, $accent-color)
          }
        }

        .menu-right {
          ul.widgets {
            margin: 0;

            li {
              &:first-child {
                @media (min-width: $breakpoint-desktop) {
                  display: none;
                }
              }

              a {
                padding: .5rem;
                text-decoration: none;
                color: $primary-color;

                &:hover {
                  color: $accent-color;
                }
              }

            }
          }

        }
      }
    }

    .menu-bottom {
      color: #333;
      background-color: $primary-color;
      border-top: $secondary-color solid 1px;
      margin: 20px 0;
      height: auto;

      .app-nav {
        display: flex;
        align-content: center;
        border: 0;
        position: relative;

        .nav-item {
          flex: 1 1 auto;
          border: 0;
          padding: 0;
          position: relative;
          /*position: static;*/
          width: 100px;

          &:last-of-type {
            a {
              &::before {
                content: '';
                background-color: $secondary-color;
                height: 30px;
                width: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }

              &::after {
                content: '';
                background-color: $secondary-color;
                height: 30px;
                width: 1px;
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          a {
            font-family: Poppins, sans-serif;
            font-size: 13px;
            font-weight: 600;
            color: $primary-text-color;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 4px;
            height: 100%;
            line-height: 1.15;
            text-transform: uppercase;

            &::after {
              content: '';
              background-color: $secondary-color;
              height: 30px;
              width: 1px;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }

            &:hover {
              background-color: #fff;
              color: $secondary-color;
            }

          }

          &:hover .menu-sub {
            visibility: visible;
          }

          &:last-child .menu-sub {
            left: unset;
            right: 0;
          }

          .menu-sub {
            position: absolute;
            top: 45px;
            left: 0;
            background-color: $primary-color;
            color: $light;
            min-width: 500px;
            z-index: 11;
            visibility: hidden;
          }
        }
      }
    }

    .mobile-menu {
      visibility: hidden;
      position: absolute;
      width: 100vw;
      height: 100vh;

      .overlay {
        width: 100%;
        height: 100%;
        background-color: #2F333888;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;

        .menu-container {
          transform: translateX(-100%);
          transition: .3s ease-in-out;
          position: absolute;
          background-color: $primary-color;
          opacity: 1;
          top: 0;
          left: 0;
          width: 80vw;
          height: 100%;
          z-index: 101;
        }
      }
    }

    .mobile-menu.menu-open {
      visibility: visible;

      .overlay {
        .menu-container {
          transform: translateX(0);
        }
      }
    }
  }

  .popover {
    max-width: 376px;

    ul.pop-menu {
      li.pop-menu-item {
        .proceed-cart-btn {
          background-color: $primary-color;
          color: $primary-text-color;

          &:hover {
            color: $primary-text-color;
          }

          @include hover-effect($primary-color, $accent-color, lighten($white-color, 20%));
        }

        a {
          padding: .5rem;
          border-bottom: 1px solid $secondary-color;
          color: $secondary-text-color;

          &:hover {
            transition: .3s ease-in-out;
            color: $accent-color;
            border-color: $accent-color;
          }

          .product-image {
            height: 60px;
          }

          .product-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 5px;

            .product-title {
              width: 150px;
              white-space: nowrap;
            }

            .product-price {
              text-transform: uppercase;
            }
          }

          .product-quantity {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }

          .product-delete {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &:hover > svg {
              color: red;
            }
          }
        }
      }
    }
  }

  .appear {
    animation: 1s appear;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
