<template>
  <div class="flex-fill home-carousel">
    <no-ssr>
      <carousel
        :per-page="1"
        :pagination-enabled="true"
        :loop="true"
        :speed="1000"
        :pagination-padding="5"
        :pagination-size="15"
        :autoplay-timeout="2000"
        v-model="carouselItem"
        autoplay
        pagination-color="#2F3338"
        pagination-active-color="#3b8070"
        pagination-position="bottom-overlay"
      >
        <slide
          v-for="item in mainSlider"
          :style="{ backgroundImage: 'url(' + 'http://localhost:8000/media/' + item.image + ')' }"
          :key="item.id"
        />
      </carousel>
    </no-ssr>
  </div>
</template>

<script>
import gql from 'graphql-tag'
export default {
  name: 'MainCarousel',
  apollo: {
    mainSlider: gql`{
      mainSlider {
        id
        image
        order
        url
      }
    }`
  },
  data () {
    return {
      carouselItem: 1
      // carouselItems: [
      //   {
      //     id: 0,
      //     title: 'Şirin yuxular',
      //     description: 'Uzan yat kravat',
      //     image: 'slider1.jpg'
      //   },
      //   {
      //     id: 1,
      //     title: 'Şirin yuxular',
      //     description: 'Uzan yat kravat',
      //     image: 'slider2.jpg'
      //   },
      //   {
      //     id: 2,
      //     title: 'Xoş gəlmişsiniz',
      //     description: 'Uzan yat kravat',
      //     image: 'slider3.jpg'
      //   }
      // ]
    }
  }
}
</script>

<style scoped lang="scss">
  .home-carousel {
    height: 400px;
    width: 100%;
    color: white;

    .VueCarousel {
      position: relative;

      .VueCarousel-pagination {
        position: absolute;
        top: 345px;
      }

      .VueCarousel-slide {
        height: 400px;
        width: 100%;
        background-size: cover;
      }

    }
  }
</style>
