<!--<template>-->
<!--  <div>-->
<!--    <slot></slot>-->
<!--  </div>-->
<!--</template>-->

<!--<script>-->
<!--export default {-->
<!--  name: 'MainPageSections'-->
<!--}-->
<!--</script>-->

<!--<style scoped>-->

<!--</style>-->
