<template>
  <div>
    <app-header />
    <div class="content container">
      <section id="hero">
        <div class="karusel">
          <main-carousel />
        </div>
        <div class="product-of-week">
          <p class="d-flex pow-header">
            Həftənin fürsəti
          </p>
          <div class="d-flex flex-column flex-fill justify-content-between align-items-center pow-content">
            <img src="images/pow1.png" alt="pow" class="pow-img">
            <p class="pow-title">
              Qonaq otağı üçün sadə divan
            </p>
            <price-with-discount
              :discount-percent="34"
              :discount="294"
              :price="445"
              :is-special-offer="true"
            />
          </div>
        </div>
      </section>
      <section id="best-seller">
        <no-ssr>
          <carousel
            :per-page="6"
            :scroll-per-page="false"
            :per-page-custom="[[200, 2], [550, 3], [768, 4], [992, 5], [1200, 6]]"
            class="bs-karusel"
            loop
          >
            <slide v-for="item in bestSellers" :key="item.id">
              <div class="bs-item">
                <div class="bs-item-img">
                  <img :src="'http://localhost:8000/media/'+item.image" alt="bs">
                </div>
                <div class="bs-item-info">
                  <price-with-discount
                    v-if="item.isDiscount"
                    :is-special-offer="false"
                    :price="item.price"
                    :discount="item.discountPrice"
                    :discount-percent="item.discount"
                  />
                  <price-without-discount
                    v-else
                    :price="item.price"
                  />
                </div>
              </div>
            </slide>
          </carousel>
        </no-ssr>
      </section>
      <section id="discount">
        <no-ssr>
          <carousel
            :per-page="6"
            :scroll-per-page="false"
            :per-page-custom="[[200, 2], [550, 3], [768, 4], [992, 5], [1200, 6]]"
            class="bs-karusel"
            loop
          >
            <slide v-for="item in discounts" :key="item.id">
              <div class="bs-item">
                <div class="bs-item-img">
                  <img :src="'http://localhost:8000/media/'+item.image" alt="bs">
                </div>
                <div class="bs-item-info">
                  <price-with-discount
                    :is-special-offer="false"
                    :price="item.price"
                    :discount="item.discountPrice"
                    :discount-percent="item.discount"
                  />
                </div>
              </div>
            </slide>
          </carousel>
        </no-ssr>
      </section>
    </div>
  </div>
</template>

<script>
import AppHeader from '../components/header'
import mainCarousel from '../components/mainCarousel'
import priceWithDiscount from '../components/miniComponents/priceWithDiscount'
import priceWithoutDiscount from '~/components/miniComponents/priceWithoutDiscount'
import gql from 'graphql-tag'

export default {
  apollo: {
    products: gql`{
      products {
        id
        title
        description
        isDiscount
        price
      }
    }`,
    menus: gql`{
      menus {
        id
        title
        url
        parent {
          id
          title
          url
        }
        mainmenuSet {
          id
          title
          url
        }
      }
    }`,
    bestSellers: gql`{
      bestSellers {
        id
        title
        description
        isDiscount
        isBestseller
        image
        price
        discountPrice
        discount
      }
    }`,
    discounts: gql`{
      discounts{
        id
        title
        description
        isDiscount
        isBestseller
        price
        image
        discountPrice
        discount
      }
    }`
  },
  components: {
    'app-header': AppHeader,
    'main-carousel': mainCarousel,
    'price-with-discount': priceWithDiscount,
    'price-without-discount': priceWithoutDiscount
  },
  data () {
    return {
      // bestSellers: [
      //   {
      //     id: 0,
      //     title: 'Həyət stulu',
      //     price: 29.90,
      //     hasDiscount: true,
      //     discountPrice: 25.40,
      //     discountPercent: 15,
      //     image: 'bs1.jpg'
      //   },
      //   {
      //     id: 1,
      //     title: 'Mətbəx stulu',
      //     price: 59.90,
      //     hasDiscount: true,
      //     discountPrice: 47.92,
      //     discountPercent: 20,
      //     image: 'bs2.jpg'
      //   },
      //   {
      //     id: 2,
      //     title: 'Samsung QLED',
      //     price: 1290,
      //     hasDiscount: true,
      //     discountPrice: 903,
      //     discountPercent: 30,
      //     image: 'bs3.jpg'
      //   },
      //   {
      //     id: 3,
      //     title: 'Gecə lampası',
      //     price: 85,
      //     hasDiscount: true,
      //     discountPrice: 55,
      //     discountPercent: 24,
      //     image: 'bs4.jpg'
      //   },
      //   {
      //     id: 4,
      //     title: 'İş masası',
      //     price: 350,
      //     hasDiscount: true,
      //     discountPrice: 290,
      //     discountPercent: 16,
      //     image: 'bs5.jpg'
      //   },
      //   {
      //     id: 5,
      //     title: 'IMac pro 24',
      //     price: 4200,
      //     hasDiscount: true,
      //     discountPrice: 3400,
      //     discountPercent: 20,
      //     image: 'bs6.jpg'
      //   },
      //   {
      //     id: 6,
      //     title: 'Kasa',
      //     price: 20,
      //     hasDiscount: true,
      //     discountPrice: 16.20,
      //     discountPercent: 19,
      //     image: 'bs7.jpg'
      //   },
      //   {
      //     id: 7,
      //     title: 'Vanna',
      //     price: 900,
      //     hasDiscount: true,
      //     discountPrice: 630,
      //     discountPercent: 30,
      //     image: 'bs8.jpg'
      //   },
      //   {
      //     id: 8,
      //     title: 'Mətbəx mebeli',
      //     price: 270,
      //     hasDiscount: true,
      //     discountPrice: 150,
      //     discountPercent: 40,
      //     image: 'bs9.jpg'
      //   },
      //   {
      //     id: 9,
      //     title: 'Qonaq dəsti',
      //     price: 2250,
      //     hasDiscount: true,
      //     discountPrice: 1687.50,
      //     discountPercent: 25,
      //     image: 'bs10.jpg'
      //   }
      // ]
    }
  }
}
</script>

<style lang="scss">
  @import "css/variables";

  .content {
    display: flex;
    flex-direction: column;

    section {
      border-color: $accent-color;
      border-width: 5px;
    }

    section#hero {
      display: flex;
      width: 100%;
      margin-top: 2rem;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
      }

      .karusel {
        display: flex;
        background-color: #2F3338;
        flex: 7;
      }

      .product-of-week {
        display: flex;
        flex-direction: column;
        flex: 3;
        border-color: #e9e9e9;
        height: auto;
        padding: 0 10px;
        text-align: center;
        @media (max-width: $breakpoint-tablet) {
          padding: 0;
          margin-top: .5em;
        }

        .pow-header {
          text-transform: uppercase;
          background-color: $accent-color;
          color: $white;
          font-size: 18px;
          font-weight: 600;
          width: 100%;
          height: 40px;
          margin-bottom: .5rem;
          justify-content: center;
          align-items: center;
        }

        .pow-content {
          border: 1px solid $border-color;
          padding: .5rem;

          img {
            display: flex;
          }

          p {
            text-align: center;
          }
        }
      }
    }

    section#best-seller {
      margin: 3rem 0;
      font-size: 14px;

      .bs-karusel {
        display: flex;
        flex: 1;

        .bs-item {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;
          border: 1px solid #ffffff;
          transition: all .2s ease-in-out;

          &:hover {
            /*border: 1px solid $border-color;*/
            /*box-shadow: 1px 1px 4px 8px $border-color;*/
          }

          &:hover .discount-price {
            /*color: white!important;*/
          }

          &:hover .old-price {
            color: white !important;
          }

          &:hover .bs-item-info {
            &:before {
              transition: .3s ease;
              content: '';
              width: 100%;
            }
          }

          &:hover img {
            transform: scale(1.2);
          }

          .bs-item-img {
            overflow: hidden;

            img {
              transition: all .2s ease-in-out;
              width: 100%;
            }
          }

          .bs-item-info {
            margin-top: .5em;
            display: flex;
            justify-content: space-between;
            position: relative;

            &::before {
              transition: .3s ease;
              content: '';
              width: 0;
              height: 100%;
              background-color: $accent-color;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
            }
          }
        }
      }
    }

    section#discount {
      margin: 3rem 0;
      font-size: 14px;

      .bs-karusel {
        display: flex;
        flex: 1;

        .bs-item {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;
          border: 1px solid #ffffff;
          transition: all .2s ease-in-out;

          &:hover {
            /*border: 1px solid $border-color;*/
            /*box-shadow: 1px 1px 4px 8px $border-color;*/
          }

          &:hover .discount-price {
            /*color: white!important;*/
          }

          &:hover .old-price {
            color: white !important;
          }

          &:hover .bs-item-info {
            &:before {
              transition: .3s ease;
              content: '';
              width: 100%;
            }
          }

          &:hover img {
            transform: scale(1.2);
          }

          .bs-item-img {
            overflow: hidden;

            img {
              transition: all .2s ease-in-out;
              width: 100%;
            }
          }

          .bs-item-info {
            margin-top: .5em;
            display: flex;
            justify-content: space-between;
            position: relative;

            &::before {
              transition: .3s ease;
              content: '';
              width: 0;
              height: 100%;
              background-color: $accent-color;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
            }
          }
        }
      }
    }
  }
</style>
